@import "tailwindcss";

:root {
  --brand-pink: #ff007c;
  --brand-orange: #ff8017;
}

body {
  font-family: 'Poppins', sans-serif;
}

.text-brand-pink { color: #ff007c; }
.text-brand-orange { color: #ff8017; }
.bg-brand-pink { background-color: #ff007c; }
.bg-brand-orange { background-color: #ff8017; }
